<div class="row">

    <div class="col-6 card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../../../../../assets/2.png" class="img-thumbnail" style="border: 0ch;">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-title">Your Gold Amount</p>
              <h5 class="card-text">Rp. 16.650.000</h5>
              <p class="card-text"><small class="text-muted">Gold Amount : 2 gram</small></p>
            </div>
        </div>
    </div>
  </div>

  <div class="col-6 card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="card-body">
            <p class="card-title">Buy Price</p>
              <h5 class="card-text">Rp.850.000/gr</h5>
            </div>
        </div>
          <div class="col-md-8">
            <div class="card-body">
                <p class="card-title">Sell Price</p>
                <h5 class="card-text">Rp.800.000/gr</h5>
            </div>
        </div>
    </div>
  </div>
</div>