<section class="footer pd-3" >
    <div class="row justify-content-center"> 
      <!-- membagi grid menjadi 3 bagian  -->
        <div class="col-3 text-left" >
            <img src="assets/logo.png" alt="" style="width: 80px;" >
              <br> <a href="">Home</a>
              <br> <a href="">Email</a>
              <br> <a href="">About</a>
              <br> <a href="">Contact</a>
           
           
        </div>
  
        <div class="col-3 text-center mt-md-4">
            <p style="font-weight: bold;">Central Office</p>
            <p>JL. Jendral Gatot Subroto Kav.36-38 <br> 
               Jakarta 1290 Indonesia
            </p>
  
            <p>
              @ 2021 PT BANK MANDIRI(Persero) Tbk.
            </p>
        </div>
  
        <div class="col-3 text-center mt-md-4">
            <p style="font-weight: bold;">Follow Us</p>
            <img src="assets/t.svg" alt="" style="width: 20px;">
           
  
        </div>
    </div>
  </section>