<div class="row mt-5 p-5">
    <div class="col-lg-3">
        <div class="card c1">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img class="profile" src="../../../assets/profile.jpeg" alt="profile">
                    </div>
                </div>
                <div class="col-md-8 mt-3">
                    <div class="text-success">
                        <h5>Gabriel</h5>
                    </div>
                </div>
            </div>
  
            <div class="row mt-5">
                <header style="padding-left: 10px;"><h6>My Profile</h6></header>
                <br>
                <div class="h">
                    <h6> <a class="a" routerLink="/profile">Setting Profile</a> </h6>
                    <h6> <a class="a" routerLink="/profile/history">Histories</a> </h6>
                    <h6> <a class="a" routerLink="/profile/wishslist">Wishtlists</a> </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card c2">
            <div class="row">
                <h5 style="padding-left: 10px;">My Wishtlists</h5>
            </div>
        </div>
    </div>
  </div>