<div class="row mt-5 p-5">
    <div class="col-lg-3">
        <div class="card c1">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img class="profile" src="../../../assets/profile.jpeg" alt="profile">
                    </div>
                </div>
                <div class="col-md-8 mt-3">
                    <div class="text-success">
                        <h5>Gabriel</h5>
                    </div>
                </div>
            </div>
  
            <div class="row mt-5">
                <header style="padding-left: 10px;"><h6>My Profile</h6></header>
                <br>
                <div class="h">
                    <h6> <a class="a" routerLink="/profile">Setting Profile</a> </h6>
                    <h6> <a class="a" routerLink="/profile/history">Histories</a> </h6>
                    <h6> <a class="a" routerLink="/profile/wishslist">Wishtlists</a> </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card c2">
            <div class="row">
                <h5 style="padding-left: 10px;">My Histories</h5>
            </div>

            <div class="card mb-3" *ngFor="let history of historyTrans">
                <div class="card-body">
                  <table cellpadding="10">
                    <tr>
                        <td><label>Buy</label></td>
                        <td><label>:</label></td>
                        <td><label>{{ history.dateHistory}}</label></td>
                    </tr>
                    <tr>
                        <td><label>Product Name</label></td>
                        <td><label>:</label></td>
                        <td><label>{{ history.productName}}</label></td>
                    </tr>
                    <tr>
                        <td><label>Quantity</label></td>
                        <td><label>:</label></td>
                        <td><label>{{ history.qtyGram}}</label></td>
                    </tr>
                    <tr>
                        <td><label>Total Price</label></td>
                        <td><label>:</label></td>
                        <td><label>{{ history.totalPrice}}</label></td>
                    </tr>
                  </table>

                  <a href="#" class="btn btn-primary" style="margin-top: auto; margin-bottom: auto;  max-height: 35px; ">Detail</a>
                </div>
            </div>

        </div>
    </div>
  </div>